<div class=" w-full flex flex-col gap-10 relative">
    <div class="w-full program--overcover-1 relative h-96 overflow-hidden ">
        <img class="" *ngIf="pic" [src]="pic" alt="Pavel Christian ZAMAZAL">
    </div>
    <div class="w-11/12 program--text">
        <h1 class="text-darkblue text-2xl">{{ name }}</h1>
        <h3 class="text-pink mt-2 text-md">{{ undername }}</h3>
        <p class="w-full block">{{ job }}</p>
        <p class="mt-7 md:leading-loose">
            <span [innerHTML]="text | slice:0:140" *ngIf="!seewholetext"></span>
            <span [innerHTML]="text" *ngIf="seewholetext"></span>
            <span *ngIf="!seewholetext"> ...</span>
        </p>
        <p class="mt-1 md:leading-loose text-blue underline cursor-pointer">
            <a (click)="wholetext()"> {{!seewholetext ? 'celý popis' : 'méně textu'}}</a>
        </p>
    </div>
</div>