<div class="w-screen content relative overflow-hidden">
    <div class="m-auto width-center-max py-10 px-4 md:px-16 h-full my-16 mx-auto mb-5 content--inner bg-white">
        <div class="max-w-7xl h-auto m-auto">
            <h1 class="text-center mt-10 md:mt-28 znak">KANDIDÁTI</h1>
            <!-- HLAVNÍ KANDIDÁT -->
            <div class="w-full">
                <div
                    class=" w-full min-h-fit mt-24 flex flex-col md:flex-row gap-5 md:gap-20 relative md:shadow-xl md:p-8">
                    <div class="w-100 md:w-8/12 program--overcover-1 relative overflow-hidden md:h-full h-64">
                        <img class="h-100 object-cover object-center" src="/assets/images/people/milos.png"
                            alt="Miloš Ulrich">
                    </div>
                    <div class="w-11/12 program--text font-md h-96">
                        <h3 class="text-pink font-bold">KANDIDÁT NA STAROSTU</h3>
                        <h1 class="text-darkblue mt-1">MILOŠ ULRICH</h1>
                        <p class="mt-1 w-4/5">Manažer komunikace Rady pro výzkum, vývoj a inovace, vysokoškolský
                            student.</p>
                        <p class="mt-5 md:leading-loose">Lorem ipsum dolor 😊, sit amet consectetur adipisicing elit.
                            Veniam maxime consequuntur animi et possimus rerum nesciunt id saepe eligendi cumque numquam
                            iure ipsum fugit neque, sit, sapiente dolores tenetur consequatur!</p>
                        <p class="mt-5"><b>ZAVOLEJTE MI</b>&nbsp; <a href="tel:+420773972960">+420 773 972 960</a>
                        </p>
                        <p class="mt-1"><b>NAPIŠTE MI</b>&nbsp; <a
                                href="mailto:Milos.Ulrich@top09.cz">Milos.Ulrich@top09.cz</a>
                        </p>
                        <div class="flex flex-row w-fit gap-2 h-8 mt-5">
                            <!-- <a href="http://facebook.com/top09cz/" target="_blank"><img class="h-full"
                                    src="https://www.top09.cz/styles/assets/svg/fb-color.svg" alt="Facebook TOP09"></a> -->
                            <a href="http://twitter.com/UlrichMilos/" target="_blank"><img class="h-full"
                                    src="https://www.top09.cz/styles/assets/svg/tw-color.svg"
                                    alt="Twitter Miloš Ulrich"></a>
                            <!-- <a href="http://youtube.com/topvidea" target="_blank"><img class="h-full"
                                    src="https://www.top09.cz/styles/assets/svg/yt-color.svg" alt="Youtube TOP09"></a> -->
                            <a href="https://www.instagram.com/milosulrich/" target="_blank"><img class="h-full"
                                    src="https://www.top09.cz/styles/assets/svg/ig-color.svg"
                                    alt="Instagram Miloš Ulrich"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-col md:flex-row mt-24 gap-14 md:gap-0 flex-wrap items-stretch ">
                <!-- OSTATNÍ KANDIDÁT -->
                <!-- KANDIDÁT -->
                <div class="md:w-1/3 w-full flex flex-col gap-10 relative md:p-6">
                    <div class="w-full program--overcover-1 relative h-96 overflow-hidden ">
                        <img class="object-center" src="/assets/images/people/kamenikova.png" alt="Hana KAMENÍKOVÁ">
                    </div>
                    <div class="w-11/12 program--text">
                        <h1 class="text-darkblue text-2xl">Hana KAMENÍKOVÁ</h1>
                        <h3 class="text-pink mt-2 text-md"></h3>
                        <p class="w-full">zastupitelka města, soudní znalkyně</p>
                        <p class="mt-7 md:leading-loose">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Dolores a commodi aliquid harum ullam voluptatem corporis perferendis, reiciendis officia
                            voluptate nulla! Fuga, vitae fugiat ab quae rem tempore nostrum ea.</p>
                    </div>
                </div>
                <!-- KANDIDÁT ENDS -->
                <!-- KANDIDÁT -->
                <div class="md:w-1/3 w-full flex flex-col gap-10 relative md:p-6">
                    <div class="w-full program--overcover-1 relative h-96 overflow-hidden ">
                        <img class="" src="/assets/images/people/zamazal.png" alt="Pavel Christian ZAMAZAL">
                    </div>
                    <div class="w-11/12 program--text">
                        <h1 class="text-darkblue text-2xl">Pavel Christian ZAMAZAL</h1>
                        <h3 class="text-pink mt-2 text-md"></h3>
                        <p class="w-full block">manažer prodejny</p>
                        <p class="mt-7 md:leading-loose">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Dolores a commodi aliquid harum ullam voluptatem corporis perferendis, reiciendis officia
                            voluptate nulla! Fuga, vitae fugiat ab quae rem tempore nostrum ea.</p>
                    </div>
                </div>
                <!-- KANDIDÁT ENDS -->
                <!-- KANDIDÁT -->
                <div class="md:w-1/3 w-full flex flex-col gap-10 relative md:p-6">
                    <div class="w-full program--overcover-1 relative h-96 overflow-hidden ">
                        <!-- <img class="" src="" alt=""> -->
                    </div>
                    <div class="w-11/12 program--text">
                        <h1 class="text-darkblue text-2xl">Romana KOMÍNKOVÁ</h1>
                        <h3 class="text-pink mt-2 text-md"></h3>
                        <p class=" w-full">překladatel</p>
                        <p class="mt-7 md:leading-loose">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Dolores a commodi aliquid harum ullam voluptatem corporis perferendis, reiciendis officia
                            voluptate nulla! Fuga, vitae fugiat ab quae rem tempore nostrum ea.</p>
                    </div>
                </div>
                <!-- KANDIDÁT ENDS -->
            </div>
            <div class="w-full flex flex-col md:flex-row mt-24 flex-wrap items-stretch ">
                <h1 class="w-full text-center mt-28 znak">KANDIDÁTKA</h1>
                <!-- KANDIDÁTKA STARTS-->
                <table class="table-auto kandidates--table mt-20">
                    <thead>
                        <tr>
                            <td>Kandidát</td>
                            <td>Povolání</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Miloš ULRICH</td>
                            <td>Manažer komunikace Rady pro výzkum, vývoj a inovace, vysokoškolský student</td>
                        </tr>
                        <tr>
                            <td>Hana KAMENÍKOVÁ</td>
                            <td>zastupitelka města, soudní znalkyně</td>
                        </tr>
                        <tr>
                            <td>Pavel Christian ZAMAZAL</td>
                            <td>manažer prodejny</td>
                        </tr>
                        <tr>
                            <td>Romana KOMÍNKOVÁ</td>
                            <td>překladatel</td>
                        </tr>
                        <tr>
                            <td>Václav SETNIČKA</td>
                            <td>jednatel bezpečnostní agentury</td>
                        </tr>
                        <tr>
                            <td>Pavel ARAZIM</td>
                            <td>filosof</td>
                        </tr>
                        <tr>
                            <td>Zuzana ARAZIM DOLEJŠÍ</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Martina SMRKOVSKÁ</td>
                            <td>ekonomka</td>
                        </tr>
                        <tr>
                            <td>Pavel RYŠÁNEK</td>
                            <td>technik</td>
                        </tr>
                        <tr>
                            <td>Kateřina VAŠKOVÁ</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>Miloš ULRICH</td>
                            <td>OSVČ</td>
                        </tr>
                        <tr>
                            <td>Petra CHARVÁTOVÁ</td>
                            <td>manažerka kvality ve fakultní nemocnici</td>
                        </tr>
                        <tr>
                            <td>Barbora BRANYŠOVÁ</td>
                            <td>vysokoškolská studentka</td>
                        </tr>
                        <tr>
                            <td>Hana SETNIČKOVÁ</td>
                            <td>daňová poradkyně</td>
                        </tr>
                    </tbody>
                </table>
                <!-- KANDIDÁT ENDS -->
            </div>
        </div>
    </div>
</div>