<div class="w-screen content relative overflow-hidden">
    <div class="m-auto width-center-max py-10 px-4 md:px-16 h-full my-16 mx-auto mb-5 content--inner bg-white">
        <div class="max-w-7xl h-auto m-auto">
            <h1 class="text-center mt-10 md:mt-28 znak">NAŠI LIDÉ</h1>
            <!-- HLAVNÍ KANDIDÁT -->
            <div class="w-full">
                <div
                    class=" w-full min-h-fit mt-24 flex flex-col md:flex-row gap-5 md:gap-20 relative md:shadow-xl md:p-8">
                    <div class="w-100 md:w-8/12 program--overcover-1 relative overflow-hidden md:h-full h-64">
                        <img class="h-100 object-cover object-center" src="/assets/images/people/milos.png"
                            alt="Miloš Ulrich">
                    </div>
                    <div class="w-11/12 program--text font-md min-h-96  flex flex-col">
                        <!-- <h3 class="text-pink font-bold">MÍSTOSTAROSTA MĚSTA</h3> -->
                        <h1 class="text-darkblue mt-1">MILOŠ ULRICH</h1>
                        <p class="mt-1 w-4/5 text-pink font-bold">místostarosta města</p>
                        <p class="mt-5 md:leading-loose w-11/12">Miloš žije v Úvalech od narození. Chodil zde na
                            základní školu, střední pak studoval v Praze a věnoval se biologii a mikrobiologii. Následně
                            se dal studovat andragogiku a personální řízení na Univerzitě Karlově. Ve studiu na vysoké
                            škole pokračuje. <br><br> Pracovat začal v kavárnách, následně šel do bezpečnostní agentury,
                            pracoval pro telefonního operátora a dělal manažera komunikace Rady pro výzkum, vývoj a
                            inovace, poradního orgánu vlády. Podílel se i na několika volebních kampaních.<br><br> Z
                            Úval ho můžete znát zejména z klubu karate, kde zhruba 14 let působil. Vášeň pro sport mu
                            vydržela, a proto je jedním z jeho snů to, aby Úvaly měly dostatečné sportovní zázemí
                            multifunkčního charakteru.<br><br> V říjnu 2022 byl zvolen místostarostou Úval, čímž se stal
                            nejmladším místostarostou v historii města. Ve své gesci má kulturu, sociální sféru a
                            zdravotnictví, sport a životní prostředí. <br><br>
                            <a href="https://www.uvaly.cz/predstaveni-zastupitelu-bc-milos-ulrich/"
                                target="_blank">Poznejte Miloše</a>
                        </p>
                        <div class="flex flex-col md:flex-row mt-5 ">
                            <p class="mt-1 md:w-3/12"><b>ZAVOLEJTE MI</b>&nbsp; <a
                                    href="tel:+420734392190">+420 734 392 190</a>
                            </p>
                            <p class="mt-1 md:w-3/12 "><b>NAPIŠTE MI</b>&nbsp; <a
                                    href="mailto:milos.ulrich@mestouvaly.cz">milos.ulrich@mestouvaly.cz</a>
                            </p>
                            <div class="mt-2 flex flex-row gap-2 h-8 w-60 md:justify-end">
                                <a href="https://www.facebook.com/milos.ulrich" target="_blank"><img class="h-full"
                                        src="https://www.top09.cz/styles/assets/svg/fb-color.svg"
                                        alt="Facebook Miloš Ulrich"></a>
                                <a href="http://twitter.com/UlrichMilos/" target="_blank"><img class="h-full"
                                        src="https://www.top09.cz/styles/assets/svg/tw-color.svg"
                                        alt="Twitter Miloš Ulrich"></a>
                                <!-- <a href="http://youtube.com/topvidea" target="_blank"><img class="h-full"
                                        src="https://www.top09.cz/styles/assets/svg/yt-color.svg" alt="Youtube TOP09"></a> -->
                                <a href="https://www.instagram.com/milosulrich/" target="_blank"><img class="h-full"
                                        src="https://www.top09.cz/styles/assets/svg/ig-color.svg"
                                        alt="Instagram Miloš Ulrich"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-col md:flex-row mt-24 gap-14 md:gap-0 flex-wrap items-stretch ">
                <app-guy class="md:w-1/3 w-full  md:p-6" name="Hana KAMENÍKOVÁ" undername=""
                    pic="/assets/images/people/kamenikova.png"
                    job="zastupitelka a předsedkyně Výboru pro investice, výstavbu a územní"
                    text="Hana vystudovala stavební fakultu ČVUT, pracovala na generálním ředitelství stavebních závodů v Praze a v roce 1976 nastoupila do funkce vedoucí stavebního úřadu v Úvalech.  Následně jí byla nabídnuta funkce vedoucí stavebního a územního odboru na Okresním národním výboru pro Prahu-východ. Po roce 1990 se změnil nejen název výboru, ale i skladba a náplň jednotlivých odborů. Odbor, kde Hana působila, se stal odvolacím orgánem pro všechny stavební úřady okresu, mj. také pořizoval územní plány pro obce.
                <br><br>
                    V roce 1982 Hana složila zkoušky pro oblast znalectví. Věnuje se nejen oceňování nemovitostí, ale také zejména pro soudy zpracovává posudky, které se týkají špatně a neúměrně draze provedených staveb současnými podnikateli. Své vzdělání doplnila o studium na Právnické fakultě Univerzity Karlovy.
                <br><br>    
                    Jsme přesvědčeni, že svým celoživotním zaměřením Hana výrazně přispěje k dalšímu smysluplnému rozvoji Úval, který se ve většině případů týká výstavby ve městě a na dokončení územního plánu s důrazem na udržitelný rozvoj města. Stejně tak činí i dnes, kdy je zastupitelkou.">
                </app-guy>
                <app-guy class="md:w-1/3 w-full  md:p-6" name="Pavel Christian ZAMAZAL" undername=""
                    pic="/assets/images/people/zamazal.JPG" job="člen Komise pro kulturu a volnočasové"
                    text="Pavel se narodil v malém městě na severozápadě Čech, přímo na úpatí Krušných hor. Tam i vychodil základní školu a v nedalekém lázeňském městě vystudoval střední školu. Věnoval se navíc studiu na jazykové škole, kterou zakončil mezinárodním certifikátem z německého jazyka.
                    <br><br>
                    Své první zkušenosti pracovní sbíral v oblasti gastronomie v okolí svého rodného města. Později se pracovně přesunul do Prahy, kde vyměnil obor gastronomie za retail. V současné době je manažerem prodejny, která zastupuje více než 40 světových značek kvalitních produktů pro domácnost.
                    <br><br>            
                    Mezi mou velikou vášeň patří kultura, a to převážně divadlo a filmová tvorba.
                    <br><br>
                    Hrdým Úvalákem je již více než dekádu a je tak připraven pro Úvaly pracovat tvrdě a v prospěch všech, co v Úvalech bydlíme.">
                </app-guy>
                <app-guy class="md:w-1/3 w-full  md:p-6" name="Václav SETNIČKA" undername=""
                    pic="/assets/images/people/setnicka.jpg"
                    job="předseda Komise pro prevenci kriminality, člen Komise pro dopravu"
                    text="Václav bydlí v Úvalech již přes 20 let, přesněji v oblasti nazvané Horoušánky. Středoškolské vzdělávání absolvoval na Střední průmyslové škole jaderné techniky. Následně vystudoval na vysokých školách obor se zaměřením na technickou kybernetiku a obor věnující se ekonomice a energetice. 
                    <br><br>  
                    Působil na řadě manažerských i nemanažerských pozicích. Byl projektantem v ZPA DP či technickým náměstkem v Regula Praha a.s. V roce 1994 založil Felix Praha, která se věnuje ochraně majetku a osob, následně založil firmy HVMS, HS Finance a Felix Security. 
                    <br><br>  
                    Václav rád tráví čas se svojí rodinou, prací na zahradě, sportuje a rád chodí do přírody, hlavně se svým psem Leonbergerem.  
                    <br><br>  
                    V minulých letech hojně podporoval a byl sponzorem dětských dnů a zábavy ve městě. V zastupitelstvu by se rád věnoval kvalitní a smysluplné výstavbě a opravě cest, bezpečnosti ve městě a územnímu plánu města.">
                </app-guy>
            </div>
            <div class="w-full flex flex-col md:flex-row mt-24 flex-wrap items-stretch ">
                <h1 class="w-full text-center mt-28 znak">Nominovali jsme</h1>
                <!-- KANDIDÁTKA STARTS-->
                <table class="table-auto kandidates--table mt-20">
                    <tbody>
                        <!-- <tr>
                            <td>Zuzana ARAZIM DOLEJŠÍ</td>
                            <td>konzultantka udržitelnosti ve stavebnictví</td>
                        </tr> -->
                        <tr>
                            <td>Romana KOMÍNKOVÁ</td>
                            <td>členka Finančního výboru</td>
                        </tr>
                        <tr>
                            <td>Pavel ARAZIM</td>
                            <td>člen Kontrolního výboru, člen Komise pro kulturu a volnočasové aktivity</td>
                        </tr>
                        <tr>
                            <td>Kateřina VAŠKOVÁ</td>
                            <td>členka Komise pro školství a vzdělávání</td>
                        </tr>
                        <tr>
                            <td>Petra CHARVÁTOVÁ</td>
                            <td>členka Komise pro životní prostředí</td>
                        </tr>
                        <tr>
                            <td>Hana SETNIČKOVÁ</td>
                            <td>členka Finančního výboru</td>
                        </tr>
                        <tr>
                            <td>Josef ZACH</td>
                            <td>člen Finančního výboru</td>
                        </tr>
                        <tr>
                            <td>Renata PERGLEROVÁ</td>
                            <td>členka Výboru pro investice, výstavbu a územní plánování</td>
                        </tr>
                        <tr>
                            <td>Hana SETNIČKOVÁ</td>
                            <td>členka Finančního výboru</td>
                        </tr>
                    </tbody>
                </table>
                <!-- KANDIDÁT ENDS -->
            </div>
        </div>
    </div>
</div>