<div class="w-screen content relative overflow-hidden">
    <div class="m-auto width-center-max py-10 px-4 md:px-16 h-full my-16 mx-auto mb-5 content--inner bg-white">
        <div class="max-w-7xl h-auto m-auto">
            <h1 class="text-center mt-10 md:mt-28 znak">KANDIDÁTI</h1>
            <!-- HLAVNÍ KANDIDÁT -->
            <div class="w-full">
                <div
                    class=" w-full min-h-fit mt-24 flex flex-col md:flex-row gap-5 md:gap-20 relative md:shadow-xl md:p-8">
                    <div class="w-100 md:w-8/12 program--overcover-1 relative overflow-hidden md:h-full h-64">
                        <img class="h-100 object-cover object-center" src="/assets/images/people/milos.png"
                            alt="Miloš Ulrich">
                    </div>
                    <div class="w-11/12 program--text font-md min-h-96  flex flex-col">
                        <h3 class="text-pink font-bold">KANDIDÁT NA STAROSTU</h3>
                        <h1 class="text-darkblue mt-1">MILOŠ ULRICH</h1>
                        <p class="mt-1 w-4/5">manažer komunikace Rady pro výzkum, vývoj a inovace, vysokoškolský
                            student.</p>
                        <p class="mt-5 md:leading-loose w-11/12"> Miloš žije v Úvalech od narození. Chodil zde na
                            základní školu, střední pak studoval v Praze a věnoval se biologii a mikrobiologii. Následně
                            se dal studovat andragogiku a personální řízení na Univerzitě Karlově. Ve studiu na vysoké
                            škole pokračuje. <br><br> Pracovat začal v kavárnách, následně šel do bezpečnostní agentury,
                            pracoval i pro telefonního operátora a nyní dělá manažera komunikace Rady pro výzkum, vývoj
                            a inovace, poradního orgánu vlády. Specializuje se na marketing a komunikaci na sociálních
                            sítích. <br><br> Z Úval ho můžete znát zejména z klubu karate, kde zhruba 14 let působil.
                            Vášeň pro sport mu vydržela, a proto je jedním z jeho snů to, aby Úvaly měly dostatečné
                            sportovní zázemí multifunkčního charakteru. <br><br> Miloš je snílek a rád mění sny a vize
                            ve skutečnost. Jsme pevně přesvědčeni, že v čele města by byl přínosem nejen svojí energií a
                            nadšením, ale též novými nápady, kam Úvaly ubírat. </p>
                        <div class="flex flex-col md:flex-row mt-5 ">
                            <p class="mt-1 md:w-3/12"><b>ZAVOLEJTE MI</b>&nbsp; <a href="tel:+420773972960">+420 773 972
                                    960</a>
                            </p>
                            <p class="mt-1 md:w-3/12 "><b>NAPIŠTE MI</b>&nbsp; <a
                                    href="mailto:Milos.Ulrich@top09.cz">Milos.Ulrich@top09.cz</a>
                            </p>
                            <div class="mt-2 flex flex-row gap-2 h-8 w-60 md:justify-end">
                                <a href="https://www.facebook.com/milos.ulrich" target="_blank"><img class="h-full"
                                        src="https://www.top09.cz/styles/assets/svg/fb-color.svg"
                                        alt="Facebook Miloš Ulrich"></a>
                                <a href="http://twitter.com/UlrichMilos/" target="_blank"><img class="h-full"
                                        src="https://www.top09.cz/styles/assets/svg/tw-color.svg"
                                        alt="Twitter Miloš Ulrich"></a>
                                <!-- <a href="http://youtube.com/topvidea" target="_blank"><img class="h-full"
                                        src="https://www.top09.cz/styles/assets/svg/yt-color.svg" alt="Youtube TOP09"></a> -->
                                <a href="https://www.instagram.com/milosulrich/" target="_blank"><img class="h-full"
                                        src="https://www.top09.cz/styles/assets/svg/ig-color.svg"
                                        alt="Instagram Miloš Ulrich"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-col md:flex-row mt-24 gap-14 md:gap-0 flex-wrap items-stretch ">
                <!-- OSTATNÍ KANDIDÁT -->
                <!-- KANDIDÁT -->
                <div class="md:w-1/3 w-full flex flex-col gap-10 relative md:p-6">
                    <div class="w-full program--overcover-1 relative h-96 overflow-hidden ">
                        <img class="object-center" src="/assets/images/people/kamenikova.png" alt="Hana KAMENÍKOVÁ">
                    </div>
                    <div class="w-11/12 program--text">
                        <h1 class="text-darkblue text-2xl">Hana KAMENÍKOVÁ</h1>
                        <h3 class="text-pink mt-2 text-md"></h3>
                        <p class="w-full">zastupitelka města, soudní znalkyně</p>
                        <p class="mt-7 md:leading-loose"></p>
                    </div>
                </div>
                <!-- KANDIDÁT ENDS -->
                <!-- KANDIDÁT -->
                <div class="md:w-1/3 w-full flex flex-col gap-10 relative md:p-6">
                    <div class="w-full program--overcover-1 relative h-96 overflow-hidden ">
                        <img class="" src="/assets/images/people/zamazal.JPG" alt="Pavel Christian ZAMAZAL">
                    </div>
                    <div class="w-11/12 program--text">
                        <h1 class="text-darkblue text-2xl">Pavel Christian ZAMAZAL</h1>
                        <h3 class="text-pink mt-2 text-md"></h3>
                        <p class="w-full block">manažer prodejny</p>
                        <p class="mt-7 md:leading-loose"></p>
                    </div>
                </div>
                <!-- KANDIDÁT ENDS -->
                <!-- KANDIDÁT -->
                <div class="md:w-1/3 w-full flex flex-col gap-10 relative md:p-6">
                    <div class="w-full program--overcover-1 relative h-96 overflow-hidden ">
                        <!-- <img class="" src="" alt=""> -->
                    </div>
                    <div class="w-11/12 program--text">
                        <h1 class="text-darkblue text-2xl">Václav SETNIČKA</h1>
                        <h3 class="text-pink mt-2 text-md"></h3>
                        <p class=" w-full">jednatel bezpečnostní agentury</p>
                        <p class="mt-7 md:leading-loose"></p>
                    </div>
                </div>
                <!-- KANDIDÁT ENDS -->
            </div>
            <div class="w-full flex flex-col md:flex-row mt-24 flex-wrap items-stretch ">
                <h1 class="w-full text-center mt-28 znak">KANDIDÁTKA</h1>
                <!-- KANDIDÁTKA STARTS-->
                <table class="table-auto kandidates--table mt-20">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Kandidát</td>
                            <td>Povolání</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Miloš ULRICH</td>
                            <td>manažer komunikace Rady pro výzkum, vývoj a inovace, vysokoškolský student</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Hana KAMENÍKOVÁ</td>
                            <td>zastupitelka města, soudní znalkyně</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Pavel Christian ZAMAZAL</td>
                            <td>manažer prodejny</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Romana KOMÍNKOVÁ</td>
                            <td>překladatelka</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Václav SETNIČKA</td>
                            <td>jednatel bezpečnostní agentury</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Pavel ARAZIM</td>
                            <td>filosof</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Zuzana ARAZIM DOLEJŠÍ</td>
                            <td>konzultantka udržitelnosti ve stavebnictví</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Martina SMRKOVSKÁ</td>
                            <td>ekonomka</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Pavel RYŠÁNEK</td>
                            <td>technik</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Kateřina VAŠKOVÁ</td>
                            <td>manažerka obchodu IT společnosti</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Petra CHARVÁTOVÁ</td>
                            <td>manažerka kvality ve fakultní nemocnici</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Miloš ULRICH</td>
                            <td>OSVČ</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Petr DANĚK</td>
                            <td>učitel ZŠ</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Barbora BRANYŠOVÁ</td>
                            <td>vysokoškolská studentka</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Hana SETNIČKOVÁ</td>
                            <td>daňová poradkyně</td>
                        </tr>
                    </tbody>
                </table>
                <!-- KANDIDÁT ENDS -->
            </div>
        </div>
    </div>
</div>