<!-- MAIN IMAGE -->
<div class="w-screen content relative overflow-hidden">
    <div class="m-auto width-center-max py-10 md:px-16 h-full md:my-16 mx-auto mb-5 content--inner bg-white">
        <div class="max-w-7xl h-auto m-auto">
            <h1 class="text-center mt-28 znak">DĚLÁME LEPŠÍ ÚVALY</h1>
            <div class="w-full flex flex-col mt-28 gap-28">
                <!-- ONE PROGRAM -->
                <app-program header="Výstavba a rozvoj města " text="
        Úvaly se zejména v posledních letech dařilo po vizuální stránce významně rozvíjet. V tomto trendu budeme pokračovat, a navíc se vydáme směrem udržitelného provozu města. <b>Podporujeme zavedení participativního rozpočtu, rozvoj koupaliště a nutné opravy ulic.</b>
        <br><br>Lze očekávat, že již tento podzim nastanou v České republice problémy se zásobováním plynem. Je proto nutné, aby si vedení města nechalo <b>zpracovat studii, jak v Úvalech řešit nedostatek plynu.</b> Budeme podporovat využívání solárních panelů jako jednu z cest, jak <b>vytvořit energeticky soběstačnější město</b>. Úvaláky padnout nenecháme.
         " image="https://images.unsplash.com/photo-1508450859948-4e04fabaa4ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1379&q=80">
                </app-program>
                <!-- ONE PROGRAM -->
                <app-program header="Životní prostředí a ochrana přírody" text="<b>Udržení a zachování přírody a dobrého životního prostředí ve městě je pro nás klíčové.</b> Koneckonců díky nám zastupitelstvo města dalo stopku nebezpečným glyfosátům.
        <br><br>Nejsme si jistí, že aktuální flóra je ta nejvhodnější, která může být vysázena. <b>Preferujeme výsadbu stromů</b>, a to proto, že v horkých letních dnech dokáží ochladit prostranství až o několik stupňů Celsia a významně zadržují vodu.
        <br><br>Jednou z cest, jak být šetrný k okolnímu prostředí, je <b>inteligentní městské osvětlení</b> (IMO). Současné množství a typ lamp způsobuje světelný smog. IMO <b>výrazně sníží i spotřebu elektrické energie</b>, neboť světlo je ztlumené a do 100 % se rozsvítí až tehdy, když zaznamená pohyb člověka.
        " [reversed]="true"
                    image="https://images.unsplash.com/photo-1538935732373-f7a495fea3f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2759&q=80">
                </app-program>
                <!-- ONE PROGRAM -->
                <app-program header="Školství a vzdělávání, sport" text="
                Stejně jako na celostátní úrovni je i v Úvalech pro TOP 09 kvalitní vzdělávání prioritou. I přes nepříznivou situaci rozpočtu platí, že na úvalském školství nemůžeme a nebude šetřit. Budeme usilovat o dostatek míst v mateřských školách, proto je naší <b>prioritou dokončení výstavby svazkové školy v Úvalech.</b>
                <br><br>Vzdělávání se ovšem netýká výlučně dětí. Ve spolupráci s úvalskými seniory <b>přivedeme do města univerzitu třetího věku</b> a další edukační aktivity, které mají i socializační charakter.
                <br><br>K životu v Úvalech patří sportovní kluby a jiné spolky. Ty budeme podporovat a udržíme stávající partnerství. Sport je jedním z významných faktorů rozvoje dětí, kde jinde se mají naučit fair-play?                 
                " image="/assets/images/program/skolstvi.png">
                </app-program>
                <!-- ONE PROGRAM -->
                <app-program header="Doprava" text="
                <b>Zlepšíme služby veřejné dopravy a propojenost s okolními obcemi a pražskou hromadnou dopravou.</b> Jsme bohužel v situaci, kdy je téměř nemožné dostat se do Prahy, pokud dojde k přerušení vlakového spojení. To se musí změnit, stejně tak <b>přehlednost parkování na náměstí.</b>
                    Zavedeme tzv. <b>senior taxi</b>. Tedy službu, která za drobný příspěvek dopraví seniora na nákup, k lékaři, a to i třeba do zdravotního centra v Jirnech. 
                    Podporujeme efektivnější propojení cyklostezek. Myslíme i na občany, kteří preferují kola či koloběžky jako dopravu na vlakový spoj, proto na exponovaných místech musí být <b>dostatek stojanů kol.</b>
                    " [reversed]="true" image="/assets/images/program/doprava.jpg">
                </app-program>
                <!-- ONE PROGRAM -->
                <app-program header="Transparentnost a komunikace s občany" text="
                Otevřená radnice je radnice, která se těší důvěře občanů. <b>Byli jste někdy u starosty či místostarosty na kávě? S námi ve vedení města tu možnost mít budete.</b> Nebudeme nic skrývat. Důvěra v demokracii se buduje i přes transparentnost a otevřenost těch, které jsme si zvolili.
                <br><br><b>Zaktualizujeme webové stránky</b>, které jsou nyní uživatelsky nepřívětivé a je náročné se v nich zorientovat. Na druhou stranu oceňujeme, že se město pokusilo o jednotný vizuál města.
                " image="/assets/images/program/komunikace.png">
                </app-program>
                <!-- ONE PROGRAM -->
                <app-program header="Zdravotnictví" text="
                Naším cílem je mít <b>dostupnou lékařskou péči pro všechny občany</b>. Zasadíme se o posílení ambulancí praktických a zubních lékařů, a to zejména tak, že <b>vytvoříme nové prostory, které budou určeny též pro odborné ambulance.</b>
                " [reversed]="true" image="/assets/images/program/zdravotnictvi.png">
                </app-program>
                <div class="mt-16">
                    <a target="_blank" href="/assets/program.pdf"
                        class="block w-fit m-auto px-5 py-4 text-white font-bold bg-darkblue cursor-pointer hover:bg-pink">
                        👉 KOMPLETNÍ PROGRAM</a>
                </div>
            </div>
        </div>
    </div>
</div>