<div class="w-screen content relative overflow-hidden">
    <div class="m-auto width-center-max py-10 h-full my-16 mx-auto mb-5 content--inner bg-white">
        <div class=" h-auto">
            <h1 class="text-center mt-28 znak">AKTUALITY</h1>
            <div class="w-full flex flex-col mt-20 justify-evenly xl:flex-row">
                <div class="block md:w-fit w-100 m-auto xl:m-0"><iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTOP09.Uvaly&tabs=timeline&width=500&height=2500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId"
                        width="500px" height="1500px" style="border:none;" frameborder="0" allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
                <div class="block mt-20 w-100 md:w-6/12 m-auto xl:m-0">
                    <a class="twitter-timeline" data-lang="cs"
                        href="https://twitter.com/UlrichMilos?ref_src=twsrc%5Etfw">Tweets by UlrichMilos</a>
                </div>
            </div>
        </div>
    </div>
</div>