
.footer-polygon{
    width: 100vw;
    height: 400px;
    overflow: hidden;
    position: absolute;
    margin-top: 100px;
    z-index: -1;
}

.footer-polygon::before{
    content: '';
    height: 300px;
    width: 100vw;
    background-color: #ff0053;
    position: absolute;
    z-index: -1;
    margin-top: 100px;
    transform: rotateZ(-3deg) scale(1.2);
}


.footer-a a{
    font-size: .95rem;
}
.footer-a a:hover{
    text-decoration: underline;
}