<!-- FOOTER -->
<div class="footer-polygon hidden md:block"></div>
<div class="w-screen m-auto  mt-60 bg-pink footer flex md:h-72">
    <div class=" w-screen width-center-max m-auto h-full p-10 flex justify-between self-end bg-white gap-10 flex-col
    md:flex-row">
        <div class="md:w-48 md:mx-24">
            <div class="font-fold text-xl text-center  font-bold mt-5">ÚVALY</div>
            <img src="https://www.top09.cz/styles/assets/svg/logo-u.svg" class="py-5 max-h-40 m-auto min-h-30"
                alt="TOP 09 LOGO">
        </div>
        <div class="w-40">
            <h3 class="font-bold">SLEDUJTE NÁS</h3>
            <p class="mt-5 flex flex-col w-full gap-1 footer-a">
                <span class=""><a href="https://www.facebook.com/TOP09.Uvaly/" target="_blank">FACEBOOK</a></span>
                <span class=""><a href="https://www.instagram.com/top09uvaly/" target="_blank">INSTAGRAM</a></span>
                <span class="pt-2"><a href="https://www.top09.cz" target="_blank">www.top09.cz</a></span>
                <span class=""><a href="https://www.toptym.cz" target="_blank">www.toptym.cz</a></span>
                <span class=""><a href="https://www.twitter.com/top09cz" target="_blank">TWITTER TOP09</a></span>
            </p>
        </div>
        <div class="w-fit max-w-md">
            <h3 class="font-bold">KONTAKT</h3>
            <p class="mt-5">
                <a href="mailto:info@zlepsiuvaly.cz">info@zlepsiuvaly.cz</a><br>
                <a class="pt-2 block" href="tel:info@zlepsiuvaly.cz">+420 773 972 960</a>
                <span class="pt-4 block"><a href="https://www.jsemvtopu.cz" target="_blank">Přidej se</a></span>
        </div>
        <div class="w-full max-w-md">
            <div class="self-center align-middle h-fit main-menu min-w-55">
                <h3 class="w-100 block font-bold">MENU</h3>
                <ul class="mt-5 w-full h-fit flex gap-4 font-bold footer-menu flex-wrap">
                    <li><a class=" py-1" routerLinkActive="active" [routerLink]="['/home']">ÚVOD</a></li>
                    <li><a class=" py-1" routerLinkActive="active" [routerLink]="['/program']">PROGRAM</a></li>
                    <li><a class=" py-1" routerLinkActive="active" [routerLink]="['/news']">AKTUALITY</a></li>
                    <li><a class=" py-1" routerLinkActive="active" [routerLink]="['/people']">KANDIDÁTI</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="w-screen m-auto h-20 bg-darkblue footer flex text-white">
    <div class="width-center-max m-auto px-10 m-s">
        <b>Zadavatel</b>&nbsp;TOP 09&nbsp;&nbsp; <b>Zpracovatel</b>&nbsp; Igor Máčel
    </div>
</div>